<% if (locals.posts) { %>
<section class="d-flex justify-content-center">
    <% posts.forEach(post => { %>
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title"><%= post.username %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.date %></h6>
            <p class="card-text"><%= post.message %></p>
            <!-- <a href="#" class="card-link">Delete</a> -->
        </div>
    </div>
    <% }) %>
</section>
<% } else { %>
<p class="d-flex justify-content-center">No post yet.</p>
<% } %>
